@charset "UTF-8";

html {
  font-size: 100%;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section {
  text-align: center;
}

header {
  background-image: url(img/mainvisual.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 5px;
  background-position: center;
  font-size: 0.8rem;
}

body {
  margin: 0;
  padding: 0;
}

.headernav ul {
  text-align: right;
}

.headernav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
}

.headernav a {
  font-weight: bold;
  margin-right: 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
  transition: 0.5s;
}

.headernav a:hover {
  color: red;
}

.mainvisual {
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  color: white;
  padding: 25px 0;
}

.wrapper {
  padding: 15px 16px 80px 16px;
}

.sec-menu h2 {
  background-image: url(img/menu.jpg);
  padding: 30px 0;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.under {
  border-bottom: solid 5px red;
  font-size: 1rem;
}

.menu-item h3 {
  line-height: 1.5em;
}

.menu-item dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  padding-top: 30px;
}

.menu-item dt {
  border-bottom: dotted 1px;
  margin: 20px 0;
  text-align: left;
  width: 90%;
}

.menu-item dd {
  margin: 20px 0;
  width: 10%;
}

.sec-about h2 {
  font-size: 2rem;
  background-image: url(img/about.jpg);
  padding: 30px 0;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.about-item ul {
  font-size: 0.85rem;
}

.about-item li {
  list-style-type: none;
  padding-bottom: 20px;
  text-align: left;
  flex-wrap: wrap;
  line-height: 1.5rem;
}

.btn {
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 20px 35px;
  margin: 20px auto;
  width: 100%;
  position: relative;
  font-size: 0.8rem;
}

.btn::before {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  content: "";
  transition: all 0.3s;
}

.btn::after {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  content: "";
  transition: all 0.3s;
}

.btn::before {
  border-top: 2px solid red;
  border-left: 2px solid red;
  width: 20px;
  height: 20px;
}

.btn::after {
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  width: 20px;
  height: 20px;
}

.btn:hover::after,
.btn:hover::before {
  width: 99%;
  height: 95%;
}

.sec-location h2 {
  background-image: url(img/location.jpg);
  padding: 30px 0;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.location-item {
  margin: 0 auto;
}

.location-item ul {
  text-align: left;
  font-size: 15px;
}

iframe {
  width: 100%;
  aspect-ratio: 20/9;
}

footer {
  text-align: center;
  font-size: 10px;
}

@media screen and (min-width: 767px) {
  header {
    font-size: 0.8rem;
  }
  .section h2 {
    font-size: 4rem;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 70px 0;
  }

  .wrapper {
    display: flex;
    margin: 60px 40px 60px 40px;
  }

  .menu-item {
    width: 50%;
    margin: 0 10px;
  }

  .menu-item:first-child {
    border-right: solid 1px #000;
  }

  .under {
    font-size: 2.5rem;
  }
  .menu-item dt {
    width: 80%;
  }

  .about-item {
    width: 50%;
    margin: 0 10px;
  }

  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
