@charset "UTF-8";

html {
  font-size: 100%;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background-image: url(img/mainvisual.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 5px;
  background-position: center;
  text-align: right;
  font-size: 0.8rem;
}

body {
  margin: 0;
  padding: 0;
}

.headernav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
}

.headernav a {
  font-weight: bold;
  margin-right: 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
  transition: 0.5s;
}

.headernav a:hover {
  color: red;
}

.mainvisual {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

.section h2 {
  font-size: 2rem;
  background-image: url(img/menu.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.section-menu {
  padding: 0 16px 100px 16px;
  max-width: 320px;
  font-size: 0.75rem;
  text-align: center;
}

.section-menu h3 {
  font-size: 1.25rem;
}

.section-left {
  flex-direction: column;
}

.under {
  border-bottom: solid 5px red;
  text-align: center;
}

.section-menu dl {
  display: flex;
  flex-wrap: wrap;
}

.section-menu dt {
  border-bottom: dotted 1px;
  text-align: left;
  padding-right: 40%;
  margin: 20px 0;
}

.section-menu dd {
  text-align: right;
  margin: 20px 0;
}

.sec-title h2 {
  font-size: 2rem;
  background-image: url(img/about.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.section-about h3 {
  text-align: center;
}

.section-about ul {
  font-size: 0.8rem;
}

.section-about li {
  list-style-type: none;
  padding-bottom: 15px;
  text-align: left;
  padding-left: 0px;
  flex-wrap: wrap;
  width: fit-content;
  margin: auto;
}

.btn {
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 20px 35px;
  margin: 20px auto;
  width: 100%;
  position: relative;
  font-size: 0.8rem;
}

.btn::before {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  content: "";
  transition: all 0.3s;
}

.btn::after {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  content: "";
  transition: all 0.3s;
}

.btn::before {
  border-top: 2px solid red;
  border-left: 2px solid red;
  width: 20px;
  height: 20px;
}

.btn::after {
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  width: 20px;
  height: 20px;
}

.btn:hover::after,
.btn:hover::before {
  width: 99%;
  height: 95%;
}

@media screen and (min-width: 767px) {
  header {
    font-size: 0.8rem;
  }
  .section {
    font-size: 2rem;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .section-menu {
    font-size: 2rem;
    display: flex;
  }
}
