@charset "UTF-8";

html {
  font-size: 100%;
}

img {
  max-width: 100%;
}

header {
  background-image: url(img/mainvisual.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 5px;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.headernav li {
  display: inline-block;
  list-style-type: none;
}

.headernav a {
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
  transition: 0.5s;
}

.headernav a:hover {
  color: red;
}

.mainvisual {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

.section h2 {
  font-size: 2rem;
  background-image: url(img/menu.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.section-menu {
  padding: 0 16px 100px 16px;
  max-width: 320px;
  font-size: 0.75rem;
  text-align: center;
}

.section-menu h3 {
  font-size: 1.25rem;
}

.section-left {
  flex-direction: column;
}

.under {
  border-bottom: solid 5px red;
}

.section-menu dl {
  display: flex;
  flex-wrap: wrap;
}

.section-menu dt {
  border-bottom: dotted 1px;
  text-align: left;
  padding-right: 40%;
  margin: 20px 0;
}

.section-menu dd {
  text-align: right;
  margin: 20px 0;
}

@media screen and (min-width: 767px) {
  header {
    text-align: right;
  }

  .section {
    font-size: 2rem;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .section-menu {
    font-size: 2rem;
    display: flex;
  }
}
